html {
	min-height: 100%;
	position:relative;
}
body {
	height:100%;
}

.nav {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	width: 25%;
	height:100%;
	border-right:1px solid black;

}
.nav_section1{
	background-color:#E67780;
	padding:10px;
	height:auto;
}

.themeSwitcher{
	height:20px;
	width:20px;
	border:none;
	outline:0;
	border-radius:5px;
	background-color: #2C4050;
	cursor:pointer;
}
.nav_section2{
	background-color:#5BC172;
	padding:10px;
	height:80%;
}

#home {
	background-color:#F0B27A
}

.content{
	display:flex;
	flex-direction:column;
	height:100%;
	width:70%;
	float:right;
	padding-right:10px;
	padding-top:40px;
}

.articleContent{
	display:flex;
	flex-direction:column;
	height:100%;
	width:70%;
	float:right;
	padding-top:40px;
	background-color:#AEB6BF;
}
.articleContent__Ps {
	margin:3px;
}
.articleContent__indent {
	margin:3px;
	padding-left: 20px;
}

.img{
	display:flex;
	justify-content:center;
}


a:link {
	color:black;
	text-decoration: none;
}
a:visited {
	color:black;
}
a:hover {
	color: #C0392B;
}

a > img{
	height:44px;
	width:44px;
}

.RPScontent{
	display:flex;
	flex-direction:column;
	height:100%;
	width:75%;
	float:right;
	margin:-25px;
	padding-top:40px;
	background-color: #D5F5E3;
}