html {
	min-height: 100%;
	position:relative;
}
body {
	height:100%;
}

.nav {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	
	
	display:flex;
	flex-direction:column;
	justify-content: flex-start;
	width: 25%;
	height:100%;
	border-right:1px solid black;

}
.nav_section1{
	background-color:#6EF1D4;
	padding:10px;
	height:auto;
}
.nav_section2{
	background-color:#C2F16E;
	padding:10px;
	height:80%;
}

.content{
	display:flex;
	flex-direction:column;
	height:100%;
	width:75%;
	float:right;
	margin:-25px;
	padding-top:40px;
}

.articleContent{
	display:flex;
	flex-direction:column;
	height:100%;
	width:75%;
	float:right;
	margin:-25px;
	padding-top:40px;
	background-color:#ebcded;
}

.img{
	display:flex;
	justify-content:center;
}


a:link {
	color:black;
}
a:visited {
	color:black;
}
a:hover {
	color: red;
}


.RPScontent{
	display:flex;
	flex-direction:column;
	height:100%;
	width:75%;
	float:right;
	margin:-25px;
	padding-top:40px;
	background-color: #b6f8ff;
}

.TTTcontent{
	display:flex;
	flex-direction:column;
	height:100%;
	width:75%;
	float:right;
	margin:-25px;
	padding-top:40px;
}

	.TTTgame {
    width: 300px;
    height: 600px;
}

.TTTgame div {
    width: 100px;
    height: 100px;
    outline: 1px solid;
    float: left;