.TTTcontent {
  font-family: serif;
  background-color: #124815;
  display:flex;
  flex-direction:column;
  height:100%;
  width:75%;
  float:right;
  align-items: center;
  padding-top:40px;
}

.square {
  display: block;
  float: left;
  height: 80px;
  width: 80px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #124815;
  font-size: 32px;
  font-weight: bold;
  background-color: #2C8930;
  color:white;
}


a {
  text-decoration: none;
  color: black;
}

.reset {
  display: block;
  border: 1px solid black;
  margin-top: 32px;
  width: 128px;
  text-align: center;
  clear: both;
  background-color:#D5F5E3;

}

.grid {
  height: 250px;
  width: 250px;
}

.winner {
  width: 194px;
  text-align: center;
  clear: both;
  height: 64px;
  line-height: 64px;
}

.results{
  margin: 2px;
}