body{
  margin:0;
  padding:0;
}

.header{
  display:flex;
  flex-direction: row;
  background-color: #2C8930; 
  height:35px;
  align-items: center;
  padding-left:20px;
  color:white;
  font-family: Helvetica;
  margin-right:5px;
}

.arrow_t {
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  background-color: #2C8930;
  border-right:10px solid white; 
}

.arrow_s{
  height:8px;
  width:15px;
  background-color:white;
}



.TTTcontent {
  font-family: serif;
  background-color: #124815;
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  float:right;
  align-items: center;
  padding-top:40px;
}


.square {
  display: block;
  float: left;
  height: 80px;
  width: 80px;
  line-height: 100px;
  text-align: center;
  border: 1px solid #124815;
  font-size: 32px;
  font-weight: bold;
  background-color: #2C8930;
  color:white;
}


a {
  text-decoration: none;
  color: black;
}

.reset {
  display: block;
  border: 1px solid black;
  margin:10px;
  width: 128px;
  text-align: center;
  clear: both;
  background-color:#D5F5E3;


}

.grid {
  height: 250px;
  width: 250px;
  margin-bottom:35px;
}

.winner {
  width: 194px;
  text-align: center;
  clear: both;
  height: 64px;
  line-height: 64px;
}

.results{
  display:flex;
  flex-direction:column;
  background-color:#393939;
  width:100%;
  height:40%;
  align-items: center;
  position:fixed;
  bottom:0;
  right:0;


}
.results__item{
  display:flex;
  width: 250px;
  height:30px;
  background-color: black;
  color:white;
  margin-bottom:5px;
  align-items:center;
  justify-content:center;
  word-spacing:125px;
  border-radius: 300px;


}